* {
    text-align: center;
    background-color: antiquewhite;
}

#barGraph {
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
}

#pieGraph {
    position: relative;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 10px;
}

button {
    font-size: 25px;
    cursor: pointer;
    text-align: center;
}